# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.env
.env

# VSCode
.vscode/

# MacOS / Windows
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.py~

# Node (if using Tailwind or frontend)
node_modules/
dist/
